html{
    width:100%;
}
body {
    width:100%;
    padding:0;
    font-family: "Segoe UI", Segoe, Arial, Tahoma; 
    margin:0;
}
#divTitle{
    position:fixed;
    height: 45px;
    background-color: #222222;
    color: white;
    width:100%;
    font-weight:700;
    z-index:10;
}
#divBottom{
    position:absolute;
    top:45px;
    width:100%;
    z-index:5;
}
#divpage1Div button{
    width: 342px;
    height: 77px;
    overflow:hidden;
    float:left;
    margin-bottom:8px;
}

.inventoryEntryLeftTitle{
    float:left;
    padding-left:2%;
}
.inventoryEntryRightTitle{
    float:right;
    padding-right:2px
}
#divData{
    font-weight:700;
    border-bottom:2px solid #222222;
    margin-bottom:2px;
}

.inventoryEntryPage1TxtP{
    clear:both;
    width:100%;
    padding:0 4px 0 4px;
    margin-bottom: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    /*text-align: center;*/
}

.fielderroron{
    border: 1px solid red
}
.message0, .message1
{
    position:absolute;
    z-index:100;
}
.message1
{
    padding: 0 7px;
    background:white;
    border-style:solid;
    border-width:1px;
    font-size:0.9em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
    white-space: nowrap;
}
#divCDbutReturn{
    /*display: inline-block;
    margin-left:118px !important;*/
    float:right;
}
#butContinue, #butReturn, .dvCDBottomButtons button, .freebutton{
    min-width: 80px;
    height: 50px;
    font-size:1.3em;
}



/*#divCDtxtQty, #divCDbutReturn, #divCDbutContinue{
    float: none !important
}*/



.divLocFilter{
    position: relative;
}

#btnSearch{
    position:absolute;
    height: 38px;
    width: 80px;
    -webkit-appearance: none;
}
#butClearSearch{
    height:33px;
    width:85px;
}
#txtLoc{
font-size: 1.6em;
height: 32px;
}
#divDescFilter{
    float:left;
    margin-bottom:5px;
}
.locFilter{
    float:left;
}
.locFilter button{
    width:67px;
    height:71px;
    float:left;
    overflow:hidden;
}
.clearFloat{
    clear:both;
}
#ddlLocType, #ddlLocComp{
    font-size: 1.2em;
    height: 38px;
    width:75px;
}


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    
    #btnSearch{
        position:absolute;
        right: 2px;
        height: 67px;
        width: 100px;
        background-color: lightgray;
        font-size: 1em;
        -webkit-appearance: none;
    }

    #txtLoc{
    font-size: 1.6em;
    height: 52px;
    }
    #ddlLocType, #ddlLocComp{
    font-size: 1.6em;
    height: 67px;
    }


}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {
    
    #btnSearch{
        position:absolute;
        right: 2px;
        height: 67px;
        width: 100px;
        background-color: lightgray;
        font-size: 1em;
        border-radius: 0;
        -webkit-appearance: none;
    }

    #txtLoc{
    font-size: 1.6em;
    height: 52px;
    }
    #ddlLocType, #ddlLocComp{
    font-size: 1.6em;
    height: 67px;
    }
}



.inventoryEntryPage1TxtP div{
    display: inline-block;
    vertical-align: top;
}

.inventoryEntryPage1DivP{
    clear:both;
    width:100%;
    display: block;
    /*text-align: center;*/
}
.inventoryEntryRightTitle button{
     width:120px;
    height:45px;
    font-size:1em;
}
.inventoryEntryPage1DivP button{
    width:188px;
    height:88px;
    margin: 2px;
    /*text-align: center;*/
}


.inventoryEntryInfoCell{
    border:1px solid #CCCCCC;
    margin:1px;
    float:left;
}
.inventoryEntryInfoCellTitle{
    background-color: #999999;
    color:white;
    padding:0 2px;
}
.inventoryEntryCellValue{
    border:1px solid #999999;
    padding:0 2px;
    font-weight:400;
}

#divAllLots button{
    width:175px;
    height: 50px;
}
.inventoryEntryPage2TopP{
    width:100%;
    clear:both;
}

.inventoryEntryPage2TopP input, .inventoryEntryPage2TopP button {
    background-color: #c6d7ec;
    width:210px !important;
}

.inventoryEntryPage2ButtonsP{
    width:100%;
    clear:both;
}
div.inventoryEntryPage2ItemAdded, button.inventoryEntryPage2ItemAdded{
    float:left;
    background-color: rgba(0, 0, 0, 0.3);
    padding:0 2px;
    margin: 0 2px;
    font-size: 0.8em;
}
.inventoryEntryPage2ItemAdded h3{
    margin:0;
    padding:0;
}
button.inventoryEntryPage2ItemAdded{
    width:312px;
    height:90px;
    overflow:hidden;
}
#divItemButtons button {
    width:342px;
    height:88px;
    margin: 0;
    float:left;
    overflow:hidden;
}
#divAddItem input[type=button], #divAddItem button{
    font-weight:700;
    font-size:0.9em;
    width:114px;
    height:71px;
    margin:0;
    float:left;
    overflow:hidden;
}
#divItemButtons button h3{
    margin:0;
    padding:0;
}
/*.inventoryEntrypage3TxtQtyL{
    width:30%;
    float:left;
}
.inventoryEntrypage3KeyPadL{
    width:69%;
    float:right;
}*/
.inventoryEntrypage3TxtQtyP{
    width:100%;
    clear:both;
    padding:0 10px;
}
.inventoryEntrypage3KeyPadP{
    width:100%;
    clear:both;
}
#divKeyPad button{
    width:120px;
    height:120px;
    font-weight:700;
    font-size:3.1em;
}
#divKeyPad button image{
    width:100px;
    height:100px;
}
#divKeyPad table{
    border-collapse:collapse;
}
#divKeyPad td{
    padding:0;
    margin:0;
}
.inventoryEntryLargeButton{
    width:150px;
    height:150px;
    font-size:18pt;
}
#divLocationSelect{
    padding: 3px 0 0 3px;
}
.locselectenv{
    float:left;
    width:130px;
    height:60px;
    border:1px solid black;
    border-radius: 3px;
    margin:0 3px 3px 0;
    cursor:pointer;
}
#butExcel, #butCsv{
    font-size: 15px;
    vertical-align: middle; 
    margin-left: 5px;
}

#butUpdate{
    width:145px; 
    font-size: 15px;
    vertical-align: middle; 
    margin-left: 5px;
}
.divPagerMessage{
    font-size: 15px;
    font-weight:600;
    float:left;
    margin-right: 3px;
}
#divPagerPages button{
    width:50px;
    height:50px;
}
#divPagerSelector{
    border:1px solid black;
    margin-bottom:5px;
}
#divItemButtons{
    clear:both;
}
/*Login*/
#ddlJob, #ddlPrinters{
    width: 330px;
    font-size: 1.3em;
    height:50px;
}
#txtName, #txtSearch, #txtItem, #txtLot{
    width: 310px;
    font-size:1.3em;
    height:50px;
}
.itemShortcut{
    float:left !important;
    width: auto !important;
    min-width:50px !important;
}
.topbutton{
    width:60px !important;
    height:45px !important;
}